* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  color: #fff;
}

/* common styles */
.vh-100 {
  height: 100vh;
}

.calc-height {
  height: calc(100vh - 60px);
}

.pt-big {
  padding-top: 60px;
}

input {
  width: 100%;
  padding-left: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  height: 44px;
}

form {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
}

.form-select {
  cursor: pointer;
}






/* navbar styles */
body {
  .navbar {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;

    .navbar-brand {
      color: #fff;
      font-weight: 600;
    }

    .navbar-right {
      a {
        color: #fff;
        text-decoration: none;

        &.active {
          color: #f39c12;
        }
      }

    }
  }
}

/* home styles */
.home-page {
  padding: 0 40px;

  .home-left {
    flex: 1;

    .home-title {
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }

    .desc {
      max-width: 75%;
      line-height: 24px;
    }
  }

  .home-right {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      transform: scale(0.8);
    }
  }
}

/* login styles */
.login-page {
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}

/* bookcard styles */
.book-list {
  margin: auto;

  .book-card {
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 16px;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}